#primary-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 140px;
  z-index: 100;
  width: 150px;
}

#primary-tabs li {
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgba(0,0,0,.6);
  width: 150px;
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#primary-tabs li:hover {
  z-index: 100;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

#primary-tabs li:last-child {
  border-bottom: 0;
}

#primary-tabs li a {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

#primary-tabs li a:hover {
  background-color: #ccc;
}
